
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/js/datatables.min.css"/>
<script type="text/javascript" src="/js/datatables.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
       $('#dataTable').DataTable();
        rowReorder: true
     });
</script>
</body>
</html>